<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Fur-riends Fur-ever</title>
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <a href="#" aria-label="Home">fur-riends</a>
            </div>
            <ul class="nav-links">
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#atividades">Atividades</a></li>
                <li><a href="#doacao">ONGs</a></li>
                <li><a href="#doacao">Doações</a></li>
            </ul>
            <div class="header-container">
                <div class="header-container-inner">
                    <h1>Faça a diferença hoje</h1>
                    <p>Com cada doação é possível fornecer comida, cuidados médicos e abrigo a um animal em necessidade</p>
                    <a href="#doacao" class="btn-link">Doações</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
</body>
</html>