<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fur-riends Fur-ever</title>
</head>
<body>
    <h1>Fur-riends Fur-ever</h1>
    <!-- render data -->
    <%=  %>
</body>
</html>