/* HEADER */
header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgb(34, 34, 34, 0.6)),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  overflow: hidden;
}

.header-container {
  max-width: 120rem;
  width: 90%;
  /* width: 1200px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* text-align: center; */
}

.header-container-inner {
  width: 50%;
}

.header-container-inner h1 {
  font-size: 4.4rem;
  margin-bottom: 20px;
}

.header-container-inner p {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* LOGO */
/* .logo a:hover {
  color: var(--btn-hover-color);
} */

/* .logo {
  flex: 1;
} */

.logo a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  /* color: #ff325d; */
  color: #91be55;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.logo a:hover {
  /* color: #ff8b8b; Lighter color*/
  color: var(--btn-hover-color);
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
  align-items: center;
  padding-top: 3.2rem;
}

.nav-links {
  display: flex;
  gap: 3.2rem;
  /* margin: 0; */
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  /* font-size: 1.6rem; */
  color: #ffffff;
}

.nav-links li a:hover {
  color: var(--btn-hover-color);
}

/* hide the burguer menu */
.hamburger-menu {
  display: none;
}

/* QUOTE */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.quote-container {
  max-width: 800px;
  margin: 0 auto;
}

blockquote {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
  border-left: 4px solid #ddd;
  padding-left: 20px;
  position: relative;
}

blockquote p {
  margin: 0;
}

.quote-author {
  font-size: 1.6rem;
  color: #666;
  margin-top: 10px;
}

.quote-author p {
  margin: 0;
}

/* ABOUT */
.about-section {
  background-color: #91be55 !important;
  color: #ffffff;
  /* padding: 48px 0; */
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  max-width: 120rem;
  margin: 0 auto;
}

.about-text-box {
  flex: 1;
}

.about-text-inner {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.about-img {
  flex: 1;
}

.about-img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* ACTIVITIES */
.activities-section {
  padding: 48px 0;
  background-color: #f7f7f7;
}

.container-activities {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-text-activities {
  text-align: center;
  margin-bottom: 40px;
  color: #262626;
}

.header-text-sobre {
  /* text-align: center; */
  /* font-size: 44px;
  margin-bottom: 40px; */
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

/* flexbox grid layout */
.act-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: stretch;
}

.act-list li {
  flex: 1 1 calc(33.333% - 20px); /* 3 cols with gap */
  box-sizing: border-box;
}

.service-card {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: #262626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 24px;
  color: #91be55;
  margin-bottom: 15px;
}

.card-title {
  /* font-size: 1.5rem; */
  font-size: 2.4rem;
  /* margin-bottom: 10px; */
  margin-bottom: 1.6rem;
}

.card-text {
  /* font-size: 1rem; */
  font-size: 1.8rem;
  /* line-height: 1.5; */
  line-height: 1.8;
  margin-bottom: 20px;
}

/* HELP  */
.help-section {
  padding: 0 20px 60px 20px;
  background-color: #f7f7f7;
}

.help-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 4.4rem;
  margin-bottom: 40px;
  text-align: center;
  color: #262626;
}

.help-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.help-card {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  color: #262626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 1 1 calc(33.333% - 20px);
  min-height: 300px; 
  box-sizing: border-box;
}

.help-card a:focus {
  outline: 2px solid #91be55;
  outline-offset: 2px;
}

.help-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.help-card-header {
  margin-bottom: 20px;
}

.help-title {
  font-size: 1.8rem;
  margin: 0;
}

.help-card-body p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.help-card a {
  color: #91be55;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.help-card a:hover {
  color: #76a745;
}

.help-card i {
  margin-right: 8px; /* Space | icon and text */
}

.help-card:focus {
  outline: 2px solid #91be55;
}

.social-link i {
  font-size: 1.6rem;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-nav a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #91be55;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 1.4rem;
}
